<!--Footer contains 4 sections: logo, navigation, social media links, and footnote-->
<!--Section 1: logo-->
<section id="footer-logo">
  <i class="fa-solid fa-earth-americas fa-3x"></i>
  <h6>LATIN<br />DRAGON</h6>
</section>

<!--Section 2: footer navigation bar-->
<nav id="footer-nav">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="whitepaper.html">Whitepaper</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="news.html">News</a>
    </li>
    <li class="nav-item"><a class="nav-link" href="faq.html">FAQ</a></li>
    <li class="nav-item">
      <a class="nav-link" href="contact.html">Contact</a>
    </li>
  </ul>
</nav>

<!--Section 3: social media links-->
<section id="social-media">
  <ul class="nav">
    <!--Instagram-->
    <li class="nav-item">
      <a href="https://www.instagram.com/southlatindrago/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
    </li>
    <!--Linkedin-->
    <li class="nav-item">
      <a
        href="https://www.linkedin.com/company/%E9%9D%92%E5%B2%9B%E6%8B%89%E6%B1%80%E9%BE%99%E8%B4%B8%E6%98%93%E8%AF%A2%E6%9C%89%E9%99%90%E5%85%AC%E5%8F%B8/mycompany/?viewAsMember=true"
        target="_blank"
        ><i class="fa-brands fa-linkedin-in"></i
      ></a>
    </li>
    <!--WeChat-->
    <li class="nav-item">
      <a href="javascript:;"><i class="fa-brands fa-weixin"></i></a>
    </li>
  </ul>
</section>

<!--Section 4: footnote-->
<section id="footer-note">
  <span
    >Latin Dragon provides China-Latin America trade information and multilingual communications. Start your first
    import/export business from here.</span
  >
</section>
