<!---Header contains 3 sections: logo, navigation bar, and accessibility bar-->
<!--Section 1: logo-->
<section id="header-logo">
  <a href="#">
    <i class="fa-solid fa-earth-americas fa-3x"></i>
    <h6>LATIN<br />DRAGON</h6>
  </a>
</section>

<!--Section 2: navigation bar-->
<nav class="header-nav" id="header-nav">
  <ul class="nav">
    <li class="nav-item homepage">
      <a class="nav-link" href="index.html">Home</a>
    </li>
    <li class="nav-item whitepaper">
      <a class="nav-link" href="whitepaper.html">Whitepaper</a>
    </li>
    <li class="nav-item news">
      <a class="nav-link" href="news.html">News</a>
    </li>
    <li class="nav-item faq">
      <a class="nav-link" href="faq.html">FAQ</a>
    </li>
    <li class="nav-item contact">
      <a class="nav-link" href="contact.html">Contact</a>
    </li>
  </ul>
</nav>

<!--Section 3: accessibility bar-->
<section class="accessibility-bar" id="accessibility-bar">
  <div>
    <!--contrast control-->
    <a href="javascript:;" id="contrast-btn"><i class="fa-solid fa-circle-half-stroke"></i></a>
    <!--link underline-->
    <a href="javascript:;" id="link-underline-btn"><i class="fa-solid fa-underline"></i></a>
  </div>
  <!--language options-->
  <a id="language-btn" href="javascript:;">
    <i class="fa-solid fa-language"></i>
  </a>
  <!-- the language options dropdown list -->
  <div id="languages" class="languages">
    <a class="language" id="english" href="javascript:;">English</a>
    <a class="language" id="spanish" href="javascript:;">Español</a>
    <a class="language" id="chinese" href="javascript:;">中文</a>
  </div>
</section>

<!--Hidden section: responsive menu-->
<section id="responsive-menu">
  <a href="javascript:;" id="hamburger-icon">
    <i id="menu-icon" class="fa-solid fa-bars fa-3x"></i>
  </a>
</section>
