* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f9f7f3;
  padding: 4vw 20vw;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
    "Helvetica Neue", sans-serif;
  background-image: url("/assets/stardust.png");
}

a {
  color: inherit;
}

h1 {
  font-size: 2.75rem;
  text-align: center;
  background-color: #d8361b;
  color: #efe1ba;
  padding: 1rem;
}

h2 {
  text-align: center;
  font-size: 1.875rem;
  color: #d8361b;
  margin: 2rem 0 0.5rem;
}

h3 {
  font-size: 1.125rem;
  margin-top: 1rem;
  color: #d8361b;
}

p,
a,
main li {
  line-height: 1.75;
  margin-bottom: 0.7rem;
}

#introduction p::first-letter {
  font-size: 1.25rem;
  font-weight: 600;
}

aside {
  text-align: end;
  margin-bottom: 1rem;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

footer li {
  padding: 0.5rem;
}
