/**********************************************************/
/*                      Table of contents
1. Import Custom Fonts
2. Define Animations
3. General settings
4. Color Scheme
5. Typography
6. Header Layout
7. Footer Layout
8. Feature layout
9. Button layout
10. Page 1: Home page specific css
11. Page 2: Whitepaper page specific css
12. Page 3: News page specific css
13. Page 4: FAQ page specific css
14. Page 5: Contact page specific css
/*********************************************************/

/* Import Custom Fonts: League Spartan & Libre Baskerville----------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;600;700&family=Libre+Baskerville&display=swap");

/* Define Animations -------------------------------------------------------------------------------*/
@keyframes pop {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.1);
  }
  60% {
    transform: rotateX(30deg);
  }
  80% {
    transform: rotateX(-30deg);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

:root {
  --animate-delay: 0;
}

/* General settings ---------------------------------------------------------------------*/
/*Remove margins and paddings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Remove link styles*/
a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

/*Remove list style*/
ul {
  list-style: none;
}

/*Smooth scroll*/
html {
  scroll-behavior: smooth;
}

/*Show/hide*/
.show {
  display: block !important;
}

/* Low contrast mode */
.low-contrast {
  filter: grayscale(25%);
}

/* Link highlight mode*/
.link-underline a,
.link-underline button {
  text-decoration: underline;
}

/* Color Scheme ---------------------------------------------------------------------------------------*/
:root {
  --whitepaper-color: #1c552a;
  --whitepaper-color-semitransparent: #1c552acc;
  --whitepaper-color-dark: #103319;

  --news-color: #d79922;
  --news-color-semitransparent: #d79922cc;
  --news-color-dark: #815b14;

  --faq-color: #3a57a6;
  --faq-color-semitransparent: #3a57a6cc;
  --faq-color-dark: #223463;

  --contact-color: #d8361b;
  --contact-color-semitransparent: #d8361bcc;
  --contact-color-dark: #902412;

  --light: #efe1ba;
  --light-semitransparent: #efe1badd;
  --dark: #474536;
  --background: #f9f7f3;

  --gray-soft: #22222208;
  --gray-medium: #22222244;
  --gray-hard: #22222288;

  --shadow-soft: 1px 1px 4px rgba(89, 82, 82, 0.2);
  --shadow-medium: 2px 2px 8px rgba(89, 82, 82, 0.4);
  --shadow-hard: 2px 2px 8px rgba(89, 82, 82, 0.6);
  --shadow-bold: 0px 0px 15px rgba(0, 0, 0, 0.8);
}

/* Typography -----------------------------------------------------------------------------------------*/
body {
  font-family: "League Spartan", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  background-color: var(--background);
}

article > p,
.page-title > p,
.news-container p,
.trade-process p {
  font-family: "Libre Baskerville", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page-title > p {
  font-size: 1.125rem;
  font-style: italic;
  color: var(--theme-color-semitransparent);
}

h1 {
  font-size: 4.125rem;
  margin: 0;
  font-weight: 700;
  text-shadow: var(--shadow-bold);
}

h2 {
  font-size: 3rem;
  margin: 0;
  text-shadow: var(--shadow-soft);
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

p {
  margin: 0.25rem 0;
  line-height: 1.75;
}

@media screen and (max-width: 806px) {
  h1 {
    font-size: 3rem;
    line-height: 0.8;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 1;
  }

  p {
    line-height: 1.5;
  }
}

@media screen and (max-width: 300px) {
  body {
    font-size: 0.9rem;
  }

  h2 {
    line-height: 0.8;
  }

  h4 {
    font-size: 1.25rem;
  }
}

/* Header Layout --------------------------------------------------------------------------------------*/
/*
1. general layout
2. logo layout
3. navigation bar layout
4. accessibility bar layout
5. Stick header to the top
6. Media queries
*/

/*General layout*/
#header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--theme-color);
  color: var(--light);
  box-shadow: var(--shadow-medium);
  /* The following background pattern code adapted from https://www.sliderrevolution.com/coding/css-background-patterns/ */
  background: linear-gradient(
    -45deg,
    var(--theme-color-dark),
    var(--theme-color),
    var(--theme-color-dark)
  );
  background-size: 200% 400%;
  animation: gradient 8s ease-in-out infinite alternate;
  /* Adaption ends*/
}

#responsive-menu {
  display: none;
}

/*Logo layout-------------------------------*/
#header-logo {
  display: flex;
  align-items: flex-end;
  padding: 0 2rem 0 5vw;
}

h6 {
  font-size: 1.86rem;
  font-weight: 300;
  line-height: 0.7;
  padding: 0 0 0 1.2rem;
}

/*Navigation bar layout------------------*/
.nav {
  display: flex;
  justify-self: right;
  align-items: center;
}

.nav-item {
  padding: 0 0.7rem;
}

.nav-item:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
}

#header-nav .active .nav-link {
  border-bottom-width: 1px;
  border-bottom-style: solid;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
  padding: 0.2rem 0;
}

/*Accessibility bar layout------------------*/
#accessibility-bar {
  padding-right: 5vw;
  margin-left: auto; /*right align*/
  display: flex;
  flex-wrap: nowrap;
  justify-self: right;
  align-items: center;
}

#language-btn {
  cursor: pointer;
}

#accessibility-bar a {
  padding: 0.4rem 0.7rem;
}

#accessibility-bar .fa-solid:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
}

/*Language dropdown list. Hidden by default, click to show.*/
.languages {
  display: none;
  position: absolute;
  top: 70%;
  right: 5vw;
  border-radius: 5%;
  color: var(--light);
  background-color: var(--theme-color-semitransparent);
  box-shadow: var(--shadow-medium);
  z-index: 1;
}

.language {
  display: block;
}

.language:hover {
  background-color: var(--light);
  color: var(--dark);
}

/*Stick header to the top------------------*/
#header {
  z-index: 999;
  position: fixed;
  top: 0;
}

#main {
  margin-top: 80px;
}

/* Media queries -----------------------------
When screen gets small, the navigation bar and accessibility bar turn into the mobile hamburger menu
*/
@media screen and (max-width: 806px) {
  #header {
    height: 72px; /*The mobile menu is narrower*/
    transition: top 1000ms; /*show/hide transition*/
  }

  #main {
    margin-top: 72px;
  }

  /* Show the hamburger icon*/
  #responsive-menu {
    display: block;
    padding-right: 5vw;
    margin-left: auto;
  }

  /* Hide the menu by default*/
  #header-nav,
  #accessibility-bar {
    display: none;
  }

  /* Mobile menu layout---------------*/
  /* Mobile navigation menu layout */
  #header-nav {
    width: 100%;
    height: 240px;
    position: fixed;
    top: 72px;
    background-color: var(--background);
    color: var(--theme-color);
  }

  #header-nav ul {
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
  }

  .nav-item {
    padding: 0.5rem 2rem;
  }

  .nav-link {
    font-weight: 400;
  }

  #header-nav .active {
    border: none;
    border-radius: 10px;
    background-color: var(--gray-soft);
  }

  #header-nav .active .nav-link {
    border: none;
  }

  /* Mobile accessibility menu layout*/
  #accessibility-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 312px;
    padding-right: 0;

    background-color: var(--background);
    color: var(--theme-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }

  #language-btn {
    display: none;
  }

  #accessibility-bar div:first-child {
    position: absolute;
    width: max-content;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #accessibility-bar .languages {
    display: flex;
    position: absolute;
    width: max-content;
    top: auto;
    bottom: 20%;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);

    color: var(--theme-color);
    background-color: transparent;
    box-shadow: none;
  }
}

/* Footer Layout --------------------------------------------------------------------------------------*/
/*
The 4 footer section should display in a 2*2 grid: 
logo                       nav
footnote    social media links
Each page should use their own page theme color. (Homepage will use red.)
*/
#footer {
  display: grid;
  grid-template-areas:
    "logo  nav   nav   nav"
    "note  note  note  social-media";
  padding: 2rem 5vw;
  grid-gap: 0.8rem;
  color: var(--theme-color);
  background-color: var(--gray-soft);
}

#footer-logo {
  grid-area: logo;
  align-self: end;
  display: flex;
  align-items: flex-end;
}

#footer-note {
  grid-area: note;
  align-self: start;
  font-size: 0.9rem;
  max-width: 24rem;
  line-height: normal;
  color: var(--gray-hard);
}

#footer-nav {
  grid-area: nav;
  align-self: center;
  justify-self: end;
  font-size: 1.1rem;
}

#social-media {
  grid-area: social-media;
  align-self: center;
  justify-self: end;
  font-size: 20px;
}

#social-media .fa-solid:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
}

/*
When screen gets small, display the 4 footer sections in columns.
Make sure everything is horizontally centered.
*/
@media screen and (max-width: 806px) {
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #footer-logo,
  #footer-nav,
  #social-media,
  #footer-note {
    align-self: center;
  }

  #footer-nav .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  #footer-note {
    text-align: center;
  }
}

/* Feature layout ------------------------------------------------------------------------------------*/
.feature {
  display: grid;
  grid-template-columns: 50% 50%;
  height: fit-content;
  padding: 0 10vw;
  background-color: var(--theme-color);
  background-image: url("/assets/stardust.png");
}

.feature-text {
  color: var(--light);
  align-self: center;
  padding: 2vw;
}

.feature-text p {
  color: var(--light);
}

.feature-figure {
  border-radius: 16px;
  background-color: var(--background);
  box-shadow: var(--shadow-hard);
}

/* Button layout -----------------------------------------------------------------------------*/
/* Contact button ------------------------*/
.contact-btn {
  display: inline-block;
  justify-self: center;
  padding: 0.8rem 1.2rem;
  margin-top: 1rem;
  font-size: 1.125rem;
  border: none;
  border-radius: 10px;
  box-shadow: var(--shadow-medium);
}

.contact-btn:hover {
  animation-name: pop;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
}

/* Scroll to top button ---------------*/
#scroll-to-top {
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 1.875rem;
  border-radius: 16px;
  line-height: 0%;
  padding: 12px 16px;
  color: var(--background);
  background-color: var(--gray-medium);
}

#scroll-to-top:hover {
  transform: scale(1.08);
}

@media screen and (max-width: 680px) {
  #scroll-to-top {
    display: none;
  }
}

/* Page 1: Home page specific css------------------------------------------------------------------*/
/* Color settings for homepage -----------------------*/
#homepage {
  --theme-color: var(--contact-color);
  --theme-color-semitransparent: var(--contact-color-semitransparent);
  --theme-color-dark: var(--contact-color-dark);
  color: var(--light);
}

#index-home {
  background-color: var(--contact-color);
  background-image: url("/assets/homepage-1.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 785px) {
  #index-home {
    background-image: url("/assets/homepage-1-mobile.jpg");
  }
}

/*the whitepaper section color*/
#index-whitepaper {
  background-color: var(--whitepaper-color);
  box-shadow: var(--shadow-bold);
}
#index-whitepaper div {
  background-image: url("/assets/green-gobbler.png");
}

/*the news section color*/
#index-news {
  background-color: var(--news-color);
  background-image: url("/assets/homepage-2.jpg");
  background-size: cover;
  background-attachment: fixed;
}

@media screen and (max-width: 806px) {
  #index-news {
    background-image: url("/assets/homepage-2-mobile.jpg");
  }
}

#index-news article {
  background-color: var(--news-color-semitransparent);
}

/*the faq section color*/
#index-faq {
  background-color: var(--faq-color);
  background-image: url("/assets/stardust.png");
  box-shadow: var(--shadow-bold);
}

/*the contact section color*/
#index-contact {
  background-color: var(--contact-color);
  background-image: url("/assets/homepage-3.JPG");
  background-size: cover;
  background-attachment: fixed;
  box-shadow: 0px 0px 5px #000000cc inset;
}

@media screen and (max-width: 806px) {
  #index-contact {
    background-image: url("/assets/homepage-3-mobile.jpg");
  }
}

#index-contact article {
  background-color: var(--contact-color-semitransparent);
}

#homepage #header {
  background: var(--gray-medium);
}

#homepage .languages {
  background-color: var(--gray-hard);
}

@media screen and (max-width: 806px) {
  #homepage .accessibility-bar,
  #homepage .header-nav {
    color: var(--dark);
    background-color: var(--light);
  }
  #homepage .languages {
    color: var(--dark);
    background-color: transparent;
  }
}

/*Main sections layout--------------------------------*/
#homepage main {
  margin-top: 0px;
}

#homepage main .section {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/*The first section layout*/
#homepage main .section:first-child {
  align-items: center;
  text-align: center;
  padding: 0 3rem;
}

#homepage .contact-btn {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  background-color: var(--theme-color);
  color: var(--light);
  box-shadow: var(--shadow-bold);
}

/*The rest sections layout*/
#index-whitepaper article,
#index-faq article {
  margin-left: 10vw;
  margin-right: 50vw;
}

#index-whitepaper {
  position: relative;
}
#index-whitepaper div {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 50%;
}

#index-news article,
#index-contact article {
  height: fit-content;
  margin-left: 45vw;
  margin-right: 5vw;
  padding: 5vw;
}

#homepage .read-more {
  padding: 0.25rem 0;
}

/* On mobile version, the grid boxes lie in two rows instead of two columns. */
@media screen and (max-width: 806px) {
  #homepage main .section:not(:first-child) {
    justify-content: flex-end;
  }

  #homepage article {
    margin-left: 0;
    margin-right: 0;
    padding: 10vw;
  }

  #index-whitepaper div {
    top: 0;
    left: 0%;
    height: 50%;
    width: 100%;
  }
}

/*Sidebar layout---------------------------------------*/
/*Fixed to the right side of the page. */
#homepage #sidebar {
  z-index: 1;
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #efe1bacc;
  box-shadow: var(--shadow-medium);
  border-radius: 20px;
  margin-right: 10px;
}

/* Colors of the sidebar items*/
#index-home-btn {
  background-color: var(--contact-color);
}
#index-whitepaper-btn {
  background-color: var(--whitepaper-color);
}
#index-news-btn {
  background-color: var(--news-color);
}
#index-faq-btn {
  background-color: var(--faq-color);
}
#index-contact-btn {
  background-color: var(--contact-color);
}

/*Each sidebar item links to a main body section.*/
#homepage .sidebar-item {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 15px 10px;
  box-shadow: var(--shadow-soft);
  cursor: pointer;
}

/*animation*/
#sidebar .active {
  height: 30px;
  transition-duration: 500ms;
  transition-delay: 200ms;
}

/*Hide sidebar on mobile version*/
@media screen and (max-width: 806px) {
  #sidebar {
    display: none;
  }
}

/* Page 2: Whitepaper page specific css----------------------------------------------------------------*/
#whitepaper {
  --theme-color: var(--whitepaper-color);
  --theme-color-semitransparent: var(--whitepaper-color-semitransparent);
  --theme-color-dark: var(--whitepaper-color-dark);
  color: var(--theme-color);
}

/* Two feature sections layout ------------------------*/
#whitepaper .feature {
  margin: 10vw 0;
}

#whitepaper .feature-figure {
  overflow: hidden;
  margin-top: -2vw;
  margin-bottom: -2vw;
  /* to center the image*/
  display: flex;
  justify-content: center;
  align-items: center;
}

/* to make the image cover the whole container */
#whitepaper .feature-figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#whitepaper .feature-text p::first-letter {
  font-size: 1.375rem;
}

/* reverse the imports/exports section layout on big screen */
@media screen and (min-width: 1061px) {
  #whitepaper .imports-exports {
    grid-template-areas: "image text";
  }

  #whitepaper .imports-exports .feature-text {
    grid-area: text;
  }

  #whitepaper .imports-exports .feature-figure {
    grid-area: image;
  }
}

/* media queries */
@media screen and (max-width: 1060px) {
  #whitepaper .feature {
    grid-template-columns: 100%;
    background-color: transparent;
    padding: 0;
    margin: 5vw 0 10vw;
  }

  #whitepaper .feature-text {
    background-color: var(--theme-color);
    padding: 10vw 10vw 28vw;
  }

  #whitepaper .feature-figure {
    margin: -20vw 10vw 0;
    background-color: var(--light);
  }
}

/* Statistics section layout ----------------------*/
#whitepaper .statistics {
  padding: 0 10vw;
  text-align: center;
}

#whitepaper .statistics header {
  margin-bottom: 3vw;
}

#whitepaper .statistics main {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  align-items: center;
  justify-items: center;
}

#whitepaper .statistics section {
  width: 80%;
  padding: 1rem 0.8rem;
  color: var(--light);
  background-color: var(--theme-color);
  background-image: url("/assets/stardust.png");
  border-radius: 16px;
}

#whitepaper .statistics p {
  margin: 0;
  line-height: 1;
}

/* When the screen gets smaller, turn from 4*1 grid to 2*2 grid and then to 1*4 grid*/
@media screen and (max-width: 1060px) {
  #whitepaper .statistics main {
    grid-template-columns: 50% 50%;
    grid-row-gap: 3vw;
  }
}

@media screen and (max-width: 448px) {
  #whitepaper .statistics main {
    grid-template-columns: 100%;
  }
}

/* trade process section layout ----------------------*/
#whitepaper .trade-process {
  padding: 0 10vw;
  margin-bottom: 5vw;
}

/* the main part of trade process section is a 3*2 grid */
#whitepaper .trade-process main {
  margin-top: 3vw;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

#whitepaper .trade-step {
  padding: 1vw;
}

#whitepaper .trade-step article {
  padding-left: 0.4rem;
  height: fit-content;
}

#whitepaper .trade-step p {
  line-height: 1.5;
  color: var(--dark);
}

/* Simple SVG */
svg {
  height: 2.4rem;
  width: 100%;
}

circle {
  fill: var(--theme-color-semitransparent);
}

line {
  fill: none;
  stroke: var(--theme-color-semitransparent);
  stroke-width: 1px;
}

/* When screen gets smaller, change the trade process from a 3*2 grid to a 1*6 grid*/
/* Also modify the performance of the svg */
@media screen and (max-width: 806px) {
  #whitepaper .trade-process main {
    grid-template-columns: 100%;
  }

  #whitepaper .trade-step {
    display: grid;
    grid-template-columns: auto auto;
  }

  #whitepaper .trade-step svg {
    width: 3rem;
  }

  #whitepaper .trade-step div {
    padding-left: 0rem;
  }

  #whitepaper .trade-step h4 {
    padding-top: 0.35rem;
  }
}

/* contact information section layout ---------------*/
#whitepaper .contact-info {
  background-color: var(--theme-color);
  background-image: url("/assets/stardust.png");
  color: var(--light);
  padding: 3vw 10vw 0;
}

#whitepaper .contact-info .page-title {
  text-align: center;
}

#whitepaper .contact-info .page-title p {
  color: var(--light-semitransparent);
}

#whitepaper .contact-info main {
  display: grid;
  grid-template-columns: 50% 50%;
  justify-items: center;
}

#whitepaper .contact-method {
  background-color: var(--light);
  color: var(--theme-color);
  width: 80%;
  padding: 0.7rem 2rem;
  margin: 1rem 0 3vw;
  border-radius: 5px;
  box-shadow: var(--shadow-hard);
}

#whitepaper .contact-method:hover {
  transform: translateY(-2px);
  backface-visibility: hidden;
}

#whitepaper .contact-method p:first-child {
  font-weight: 600;
}

@media screen and (max-width: 740px) {
  #whitepaper .contact-info {
    padding: 8vw 10vw 6vw;
  }

  #whitepaper .contact-info main {
    grid-template-columns: 100%;
  }

  #whitepaper .contact-method {
    width: 100%;
  }
}

/* Page 3: News page specific css----------------------------------------------------------------------*/
#news {
  --theme-color: var(--news-color);
  --theme-color-semitransparent: var(--news-color-semitransparent);
  --theme-color-dark: var(--news-color-dark);
  color: var(--theme-color);
  background-image: url("/assets/stardust.png");
}

#news .main {
  padding: 4vh 10vw 6vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#news .page-title,
#news .news-container {
  flex: 50%;
  max-width: 48%;
  height: fit-content;
}

#news .page-title {
  padding-left: 2vw;
  padding-right: 2vw;
}

#news .news-container {
  margin-bottom: 2vw;
}

.news-container {
  overflow: hidden;
  border-radius: 16px;
  box-shadow: var(--shadow-soft);
  background-color: var(--background);
}

.news-container:hover {
  transform: scale(1.01);
  box-shadow: var(--shadow-medium);
}

.news-container figure {
  margin-bottom: 1rem;
}

.news-container img {
  width: 100%;
}

.news-container time,
.news-container h4,
.news-container p {
  margin: 1rem 2rem;
}

.news-container time,
.news-container p {
  color: var(--dark);
}

.news-container i {
  padding-right: 0.4rem;
}

@media (max-width: 806px) {
  #news .news-container,
  #news .page-title {
    flex: 100%;
    max-width: 100%;
    margin-bottom: 4vw;
  }
}

/* Page 4: FAQ page specific css-----------------------------------------------------------------------*/
/* Color settings for FAQ page -------*/
#faq {
  --theme-color: var(--faq-color);
  --theme-color-semitransparent: var(--faq-color-semitransparent);
  --theme-color-dark: var(--faq-color-dark);
  color: var(--theme-color);
  background-image: url("/assets/stardust.png");
}

/* General layout--------------------*/
#faq .main {
  width: 100vw;
  display: grid;
  grid-template-columns: 65% 35%;
  align-items: center;
}

#faq .main .questions {
  padding: 4vw 1vw 4vw 10vw;
}

#faq .main .card {
  margin: 0 10vw 0 1vw;
}

#faq .page-title {
  margin: 0 2vw 4vh;
}

/*Questions layout------------------*/
#faq .question-container {
  margin-bottom: 8px;
}

#faq .question {
  cursor: pointer;
  padding: 1.25rem 0 1.25rem 5vw;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 10vw;
  background-color: var(--background);
  border: var(--theme-color-semitransparent) 1px dashed;
}

#faq .question-icon {
  justify-self: center;
  align-self: center;
}

#faq .question-container .alt-style {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--theme-color);
  color: var(--background);
}

#faq .answer {
  display: none;
  padding: 1.25rem 5vw 2.5rem;
  margin: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  color: var(--dark);
  background-color: var(--background);
  border: var(--theme-color-semitransparent) 1px solid;
  border-top: none;
}

/*Card layout-------------------------*/
#faq .card {
  border-radius: 16px;
  padding: 3rem 2vw;
  text-align: center;
  background-color: #c5cbe355;
}

#faq .card p {
  color: var(--theme-color-semitransparent);
}

#faq .contact-btn {
  background-color: var(--theme-color);
  color: var(--background);
}

/*Media queries -----------------*/
@media screen and (max-width: 961px) {
  #faq .main {
    display: block;
  }

  #faq .main .questions {
    padding: 5vw 10vw;
  }

  #faq .main .card {
    margin: 0 10vw 4vw;
  }
}

/* Page 5: Contact page specific css-------------------------------------------------------------------*/
/* Color settings for Contact page -------*/
#contact {
  --theme-color: var(--contact-color);
  --theme-color-semitransparent: var(--contact-color-semitransparent);
  --theme-color-dark: var(--contact-color-dark);
}

/* About us layout -------------------*/
#contact .about-us {
  padding: 5vw 10vw;
  color: var(--theme-color);
}

#contact .about-us .page-title {
  margin: 0 2vw 4vh;
}

#contact .abouts-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
}

#contact .about-container {
  padding: 2vw 3vw;
  border-radius: 16px;
}

#contact .about-container:first-child,
#contact .about-container:last-child {
  background-color: var(--theme-color);
  background-image: url("/assets/stardust.png");
  color: var(--light);
}

/* About us media queries --------------*/
@media screen and (max-width: 806px) {
  #contact .abouts-container {
    display: block;
  }

  #contact .about-container:nth-child(odd) {
    background-color: var(--theme-color);
    background-image: url("/assets/stardust.png");
    color: var(--light);
  }

  #contact .about-container:nth-child(even) {
    background-color: transparent;
    color: var(--theme-color);
  }

  #contact .about-container {
    padding: 4vw 6vw;
  }
}

/* Contact us layout-------------*/
#contact .contact-us {
  margin: 15vw 0;
}

#contact .contact-us .page-title {
  margin-bottom: 2vw;
}

#contact .contact-info i {
  padding-right: 0.7rem;
}

#contact .contact-info .page-title p {
  color: var(--light-semitransparent);
}

/* Form layout */
#contact form {
  display: grid;
  grid-template-rows: auto auto auto 1fr auto;
  padding: 4vw 6vw;
  margin-top: -10vw;
  margin-bottom: -10vw;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 0.4rem 0.7rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

textarea {
  height: 100%;
  resize: none;
}

#contact .contact-btn {
  background-color: var(--theme-color);
  color: var(--light);
  cursor: pointer;
}

@media screen and (max-width: 806px) {
  #contact .feature {
    grid-template-columns: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0 0 10vw;
  }

  #contact .feature-text {
    background-color: var(--theme-color);
    padding: 10vw 10vw 28vw;
  }

  #contact .feature-figure {
    margin: -20vw 10vw 0;
  }
}
