/**********************************************************/
/*                      Table of contents
1. Import Custom Fonts
2. Define Animations
3. System settings
4. Color Scheme
5. Typography
6. Header Layout
7. Footer Layout
8. Page 1: Home page specific css
9. Page 2: Whitepaper page specific css
10. Page 3: News page specific css
11. Page 4: FAQ page specific css
12. Page 5: Contact page specific css
/*********************************************************/

/* Import Custom Fonts: League Spartan & Libre Baskerville----------------------------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&family=Libre+Baskerville&display=swap");

/* Define Animations -------------------------------------------------------------------------------*/
@keyframes pop {
  0% {
    transform: scale(1);
  }
  40% {
    transform: scale(1.2);
  }
  60% {
    transform: rotateX(30deg);
  }
  80% {
    transform: rotateX(-30deg);
  }
  100% {
    transform: scale(1);
  }
}

:root {
  --animate-delay: 0;
}

/* System settings ---------------------------------------------------------------------*/
/*Remove margins and paddings*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*Remove link styles*/
a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

/*Remove list style*/
ul {
  list-style: none;
}

/*Smooth scroll*/
html {
  scroll-behavior: smooth;
}

/*Show/hide*/
.show {
  display: block !important;
}

/* Color Scheme ---------------------------------------------------------------------------------------*/
:root {
  --contact-color: #f13c1f;
  --contact-color-opaque: #f13b1fcc;
  --faq-color: #3a57a6;
  --faq-color-opaque: #3a57a6cc;
  --news-color: #d79922;
  --news-color-opaque: #d79922cc;
  --whitepaper-color: #1c552a;
  --whitepaper-color-opaque: #1c552acc;
  --light: #efe1ba;
  --dark: #4b5563;
  --background: #f9f7f3;
  --shadow-soft: 1px 1px 4px rgba(89, 82, 82, 0.2);
  --shadow-medium: 2px 2px 8px rgba(89, 82, 82, 0.4);
  --shadow-hard: 2px 2px 8px rgba(89, 82, 82, 0.6);
}

/* Typography -----------------------------------------------------------------------------------------*/
body {
  font-family: "League Spartan", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  background-color: var(--background);
}

article > p,
.page-title > p {
  font-family: "Libre Baskerville", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.page-title > p {
  font-size: 1.125rem;
  font-style: italic;
}

h1 {
  font-size: 3.75rem;
  margin: 0;
  font-weight: 700;
  text-shadow: var(--shadow-soft);
}

h2 {
  font-size: 3rem;
  margin: 0;
  text-shadow: var(--shadow-soft);
}

h3 {
  font-size: 1.875rem;
}

h4 {
  font-size: 1.5rem;
}

h5 {
  font-size: 1.25rem;
  font-weight: 400;
}

.contact-btn {
  font-size: 1.125rem;
}

p {
  margin: 0.25rem 0;
  line-height: 1.5;
}

@media screen and (max-width: 806px) {
  h1 {
    font-size: 3rem;
    line-height: 0.8;
  }

  h2 {
    font-size: 2.25rem;
    line-height: 1;
  }

  p {
    line-height: 1.25;
  }
}

@media screen and (max-width: 300px) {
  body {
    font-size: 0.9rem;
  }
}

/* Header Layout --------------------------------------------------------------------------------------*/
/*
1. general layout
2. logo layout
3. navigation bar layout
4. accessibility bar layout
5. Stick header to the top
6. Media queries
*/

/*General layout*/
#header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--theme-color);
  color: var(--light);
  box-shadow: var(--shadow-medium);
  /* The following background pattern code adapted from MagicPattern https://www.magicpattern.design/tools/css-backgrounds */
  opacity: 1;
  background-image: repeating-radial-gradient(
    circle at 8% 50%,
    var(--background),
    var(--background),
    1vw,
    transparent 2vw,
    transparent 1vw
  );
  background-blend-mode: multiply;
  /* Adaption ends*/
}

#responsive-menu {
  display: none;
}

/*Logo layout-------------------------------*/
#header-logo {
  display: flex;
  align-items: flex-end;
  padding: 0 2rem 0 5vw;
}

h6 {
  font-size: 1.86rem;
  font-weight: 300;
  line-height: 0.7;
  padding: 0 0 0 1.2rem;
}

/*Navigation bar layout------------------*/
.nav {
  display: flex;
  justify-self: right;
  align-items: center;
}

.nav-item {
  padding: 0 0.7rem;
}

.nav-item:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/*Accessibility bar layout------------------*/
#accessibility-bar {
  padding-right: 5vw;
  margin-left: auto; /*right align*/
  display: flex;
  justify-self: right;
  align-items: center;
}

#language-btn {
  cursor: pointer;
}

#accessibility-bar a {
  padding: 0.4rem 0.7rem;
}

#accessibility-bar .fa-solid:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
}

/*Language dropdown list. Hidden by default, click to show.*/
.languages {
  display: none;
  position: absolute;
  top: 70%;
  right: 5vw;
  border-radius: 5%;
  color: var(--light);
  background-color: var(--theme-color-opaque);
  box-shadow: var(--shadow-medium);
  z-index: 1;
}

.language {
  display: block;
}

.language:hover {
  background-color: var(--light);
  color: var(--dark);
}

/*Stick header to the top------------------*/
#header {
  z-index: 999;
  position: fixed;
  top: 0;
}

#main {
  margin-top: 80px;
}

/* Media queries -----------------------------
When screen gets small, the navigation bar and accessibility bar turn into the mobile hamburger menu
*/
@media screen and (max-width: 806px) {
  #header {
    height: 72px; /*The mobile menu is narrower*/
    transition: top 1000ms; /*show/hide transition*/
  }

  #main {
    margin-top: 72px;
  }

  /* Show the hamburger icon*/
  #responsive-menu {
    display: block;
    padding-right: 5vw;
    margin-left: auto;
  }

  /* Hide the menu by default*/
  #header-nav,
  #accessibility-bar {
    display: none;
  }

  /* Mobile menu layout---------------*/
  /* Mobile navigation menu layout */
  #header-nav {
    width: 100%;
    height: 240px;
    position: fixed;
    top: 72px;
    background-color: var(--background);
    color: var(--theme-color);
  }

  #header-nav ul {
    flex-direction: column;
    align-items: center;
    padding-top: 1.5rem;
  }

  .nav-item {
    padding: 0.5rem 2rem;
  }

  .nav-link {
    font-weight: 400;
  }

  /* Mobile accessibility menu layout*/
  #accessibility-bar {
    position: fixed;
    width: 100%;
    height: 100px;
    top: 312px;
    padding-right: 0;

    background-color: var(--background);
    color: var(--theme-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  }

  #language-btn {
    display: none;
  }

  #accessibility-bar div:first-child {
    position: absolute;
    width: max-content;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
  }

  #accessibility-bar .languages {
    display: flex;
    position: absolute;
    width: max-content;
    top: auto;
    bottom: 20%;
    left: 50%;
    right: auto;
    transform: translate(-50%, 0);

    color: var(--theme-color);
    background-color: transparent;
    box-shadow: none;
  }
}

/* Footer Layout --------------------------------------------------------------------------------------*/
/*
The 4 footer section should display in a 2*2 grid: 
logo                       nav
footnote    social media links
Each page should use their own page theme color. (Homepage will use red.)
*/
#footer {
  display: grid;
  grid-template-areas:
    "logo nav nav nav"
    "note note note social-media";
  padding: 2rem 5vw;
  grid-gap: 0.8rem;
  color: var(--theme-color);
  background-color: #22222208;
}

#footer-logo {
  grid-area: logo;
  align-self: end;
  display: flex;
  align-items: flex-end;
}

#footer-note {
  grid-area: note;
  align-self: start;
  font-size: 0.9rem;
  max-width: 24rem;
  line-height: normal;
  color: var(--theme-color-opaque);
}

#footer-nav {
  grid-area: nav;
  align-self: center;
  justify-self: end;
  font-size: 1.1rem;
}

#social-media {
  grid-area: social-media;
  align-self: center;
  justify-self: end;
  font-size: 20px;
}

#social-media .fa-solid:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
}

/*
When screen gets small, display the 4 footer sections in columns.
Make sure everything is horizontally centered.
*/
@media screen and (max-width: 806px) {
  #footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #footer-logo,
  #footer-nav,
  #social-media,
  #footer-note {
    align-self: center;
  }

  #footer-nav .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  #footer-note {
    text-align: center;
  }
}

/* Page 1: Home page specific css------------------------------------------------------------------*/
/* Color settings for homepage -----------------------*/
#homepage {
  --theme-color: var(--contact-color);
  --theme-color-opaque: var(--contact-color-opaque);
  color: var(--light);
}

#homepage .home {
  background: conic-gradient(
    from 290deg at 58% 80%,
    var(--contact-color) 90deg,
    var(--faq-color) 90deg 180deg,
    var(--whitepaper-color) 180deg 270deg,
    var(--news-color) 270deg
  );
}

#homepage .whitepaper {
  background-color: var(--whitepaper-color);
}
#homepage .news {
  background-color: var(--news-color);
}
#homepage .faq {
  background-color: var(--faq-color);
}
#homepage .contact {
  background-color: var(--contact-color);
}

#homepage #header {
  background: #22222222;
}

#homepage .languages {
  background-color: #22222244;
}

@media screen and (max-width: 806px) {
  #homepage .accessibility-bar,
  #homepage .header-nav {
    color: var(--dark);
    background-color: var(--light);
  }
  #homepage .languages {
    color: var(--dark);
    background-color: transparent;
  }
}

/*Main sections layout--------------------------------*/
#homepage main {
  margin-top: 0px;
}

#homepage main .section {
  height: 100vh;
  width: 100%;
}

/*The first section layout*/
#homepage main .section:first-child {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 0 3rem;
}

#homepage .contact-btn {
  margin-top: 2rem;
  padding: 1rem 2rem;
  border-radius: 16px;
  font-size: 1.44rem;
  background-color: var(--light);
  color: var(--theme-color);
  box-shadow: var(--shadow-medium);
}

.contact-btn:hover {
  animation-name: pop;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
}

/*The rest sections layout*/
#homepage main .section:not(:first-child) {
  display: grid;
  grid-template-columns: 50% 50%;
  align-items: center;
}

#homepage article {
  display: flex;
  flex-direction: column;
}

#homepage article:nth-child(odd) {
  padding-left: 10vw;
}

#homepage article:nth-child(even) {
  padding-right: 10vw;
}

#homepage .read-more {
  padding: 0.25rem 0;
}

/* On mobile version, the grid boxes lie in two rows instead of two columns. */
@media screen and (max-width: 806px) {
  #homepage main .section:not(:first-child) {
    grid-template-columns: 100%;
    grid-template-rows: 50% 50%;
  }

  #homepage article:nth-child(odd) {
    align-self: flex-end;
    padding: 0 10vw;
  }

  #homepage article:nth-child(even) {
    align-self: flex-start;
    padding: 0 10vw;
  }
}

/*Sidebar layout---------------------------------------*/
/*Fixed to the right side of the page. */
#homepage #sidebar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #efe1bacc;
  box-shadow: var(--shadow-medium);
  border-radius: 20px;
  margin-right: 10px;
}

/*Each sidebar item links to a main body section.*/
#homepage .sidebar-item {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 15px 10px;
  box-shadow: var(--shadow-soft);
  cursor: pointer;
}

/*animation*/
#sidebar .active {
  height: 30px;
  transition-duration: 500ms;
  transition-delay: 200ms;
}

/*Hide sidebar on mobile version*/
@media screen and (max-width: 806px) {
  #sidebar {
    display: none;
  }
}

/* Page 2: Whitepaper page specific css----------------------------------------------------------------*/
#whitepaper {
  --theme-color: var(--whitepaper-color);
  --theme-color-opaque: var(--whitepaper-color-opaque);
}

/* Page 3: News page specific css----------------------------------------------------------------------*/
#news {
  --theme-color: var(--news-color);
  --theme-color-opaque: var(--news-color-opaque);
}

/* Page 4: FAQ page specific css-----------------------------------------------------------------------*/
/* Color settings for FAQ page -------*/
#faq {
  --theme-color: var(--faq-color);
  --theme-color-opaque: var(--faq-color-opaque);
  color: var(--theme-color);
}

/* General layout--------------------*/
#faq .main {
  width: 100vw;
  display: grid;
  grid-template-columns: 65% 35%;
  align-items: center;
}

#faq .main section:first-child {
  padding: 4vw 1vw 4vw 10vw;
}

#faq .main section:last-child {
  margin: 0 10vw 0 1vw;
}

#faq .page-title {
  margin: 0 2vw 4vh;
}

/*Questions layout------------------*/
#faq .question-container {
  margin-bottom: 8px;
}

#faq .question {
  cursor: pointer;
  padding: 1.25rem 0 1.25rem 5vw;
  border-radius: 0.5rem;
  display: grid;
  grid-template-columns: 1fr 10vw;
  background-color: var(--background);
  border: var(--theme-color-opaque) 1px dashed;
}

#faq .question-icon {
  justify-self: center;
  align-self: center;
}

#faq .question-container .alt-style {
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--theme-color);
  color: var(--background);
}

#faq .answer {
  display: none;
  padding: 1.25rem 5vw 2.5rem;
  margin: 0;
  border-radius: 0 0 0.5rem 0.5rem;
  line-height: 1.75;
  background-color: #ffffff44;
  border: var(--theme-color-opaque) 1px dashed;
  border-top: none;
}

/*Card layout-------------------------*/
#faq .card {
  border-radius: 16px;
  padding: 3rem 2vw;
  text-align: center;
  background-color: #c5cbe355;
}

#faq .card p {
  color: var(--theme-color-opaque);
}

#faq .contact-btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.8rem 1.2rem;
  border-radius: 10px;
  background-color: var(--theme-color);
  color: var(--background);
}

/*Media queries -----------------*/
@media screen and (max-width: 961px) {
  #faq .main {
    display: block;
  }

  #faq .main section:first-child {
    padding: 5vw 10vw;
  }

  #faq .main section:last-child {
    margin: 0 10vw 4vw;
  }
}

/* Page 5: Contact page specific css-------------------------------------------------------------------*/
/* Color settings for Contact page -------*/
#contact {
  --theme-color: var(--contact-color);
  --theme-color-opaque: var(--contact-color-opaque);
}

/* About us layout -------------------*/
#contact .about-us {
  padding: 5vw 10vw;
  color: var(--theme-color);
}

#contact .about-us .page-title {
  margin: 0 2vw 4vh;
}

#contact .abouts-container {
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
}

#contact .about-container {
  padding: 2vw 3vw;
  border-radius: 16px;
}

#contact .about-container:first-child,
#contact .about-container:last-child {
  background-color: var(--theme-color);
  color: var(--light);
}

/* About us media queries --------------*/
@media screen and (max-width: 806px) {
  #contact .abouts-container {
    display: block;
  }

  #contact .about-container:nth-child(odd) {
    background-color: var(--theme-color);
    color: var(--light);
  }

  #contact .about-container:nth-child(even) {
    background-color: transparent;
    color: var(--theme-color);
  }

  #contact .about-container {
    padding: 4vw 6vw;
  }
}

/* Contact us layout-------------*/
#contact .contact-us {
  margin: 15vw 0;
  padding: 0 10vw;
  background-color: var(--theme-color);
  display: grid;
  grid-template-columns: 50% 50%;
}
#contact .contact-us .page-title {
  margin-bottom: 2vw;
}

#contact .contact-info {
  color: var(--light);
  padding: 4vw;
}

#contact .contact-info i {
  padding-right: 1rem;
}

#contact form {
  padding: 4vw 6vw;
  margin-top: -10vw;
  margin-bottom: -10vw;
  border-radius: 16px;
  background-color: var(--background);
  box-shadow: var(--shadow-hard);
}

@media screen and (max-width: 806px) {
  #contact .contact-us {
    grid-template-columns: 100%;
    background-color: transparent;
    padding: 0;
    margin: 0 0 10vw;
  }

  #contact .contact-info {
    background-color: var(--contact-color);
    padding: 10vw 10vw 28vw;
  }

  #contact form {
    justify-self: center;
    margin: -20vw 10vw 0;
    max-width: 400px;
  }
}
