/* Custom Fonts: League Spartan & Libre Baskerville-----------------------------------*/
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;700&family=Libre+Baskerville&display=swap");

/*Clean the system default layout ---------------------------------------------------------------------*/
/*Remove margins and paddings*/
* {
  margin: 0;
  padding: 0;
}

/*Remove link styles*/
a:link {
  text-decoration: none;
  color: inherit;
}
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none;
  color: inherit;
}
a:focus {
  text-decoration: none;
  color: inherit;
}
a:active {
  text-decoration: none;
  color: inherit;
}

/*Remove list style*/
ul {
  list-style: none;
}

/* Color Scheme ----------------------------------------------------------------------*/
:root {
  --red: #f13c1f;
  --red-opaque: #f13b1fb2;
  --yellow: #d79922;
  --yellow-opaque: #d79922b2;
  --blue: #3a57a6;
  --blue-opaque: #3a57a6b2;
  --green: #1c552a;
  --green-opaque: #1c552ab2;
  --light: #efe1ba;
  --dark: #4b5563;
  --background: #f9f7f3;
  --shadow-soft: 1px 1px 4px rgba(0, 0, 0, 0.2);
  --shadow-medium: 2px 2px 8px rgba(0, 0, 0, 0.4);
  --shadow-hard: 2px 2px 4px rgba(0, 0, 0, 0.8);
}

/* Typography ------------------------------------------------------------------------*/
body {
  font-family: "Libre Baskerville", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  background-color: var(--background);
}

h1,
h2,
h3,
h4,
h5,
h6,
header,
footer {
  font-family: "League Spartan", system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

h1,
h2 {
  font-size: 2.074rem;
  font-weight: 500;
  text-shadow: var(--shadow-softest);
  margin: 0.5rem 0 0;
}

h3 {
  font-size: 1.44rem;
  font-weight: 500;
  text-shadow: var(--shadow-softest);
}

p {
  margin: 0.25rem 0 0.5rem;
}

article > p::first-letter {
  font-size: 1.44rem;
}

/* Header Layout ---------------------------------------------------------------------*/
/*
Header contains 3 sections: logo and navigation bar align left, accessibility bar align right.
Header of each page should use its own page theme color. (Homepage will be transparent.)
*/
header {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: var(--theme-color);
  color: var(--light);
  box-shadow: var(--shadow-medium);
}

/*Logo layout-------------------------------*/
#header-logo {
  display: flex;
  align-items: flex-end;
  padding: 0 2rem 0 5vw;
}

h6 {
  font-size: 1.86rem;
  font-weight: 300;
  line-height: 0.7;
  padding: 0 0 0 1.2rem;
}

/*Navigation bar layout------------------*/
.nav {
  display: flex;
  justify-self: right;
  align-items: center;
}

.nav-item {
  padding: 0 0.7rem;
}

.nav-item:hover {
  transform: scale(1.06);
  backface-visibility: hidden;
}

.nav-link {
  font-size: 1.2rem;
  font-weight: 300;
}

/*Accessibility bar layout------------------*/
#accessibility-bar {
  padding-right: 5vw;
  margin-left: auto; /*right align*/
  display: flex;
  justify-self: right;
  align-items: center;
}

#accessibility-bar a {
  padding: 0 0.7rem;
}

#language-btn {
  cursor: pointer;
}

.fa-solid:hover {
  transform: scale(1.1);
  backface-visibility: hidden;
}

/*Language dropdown list. Hidden by default, click to display.*/
.languages {
  display: none;
  position: absolute;
  border-radius: 5%;
  color: var(--light);
  background-color: var(--theme-color);
  box-shadow: var(--shadow-medium);
  z-index: 1;
}

.show {
  display: block;
}

.language {
  display: block;
}

.language:hover {
  background-color: var(--light);
  color: var(--theme-color);
}

/*Stick header to the top------------------*/
header {
  z-index: 999;
  position: fixed;
  top: 0;
  width: 100%;
}

main {
  margin-top: 80px;
}

/*
When screen gets small, the nav bar turns into the mobile hamburger menu.
The mobile header is narrower and not stick to top.
*/
@media screen and (max-width: 744px) {
  header {
    height: 72px;
  }
}

/* Footer Layout ---------------------------------------------------------------------*/
/*
The 4 footer section should display in a 2*2 grid: 
logo                       nav
footnote    social media links
Each page should use their own page theme color. (Homepage will use red.)
*/
footer {
  display: grid;
  grid-template-areas:
    "logo nav nav nav"
    "note note note social-media";
  padding: 2rem 5vw;
  grid-gap: 0.8rem;
  color: var(--theme-color);
  background-color: #22222208;
}

#footer-logo {
  grid-area: logo;
  align-self: end;
  display: flex;
  align-items: flex-end;
}

#footer-note {
  grid-area: note;
  align-self: start;
  font-size: 0.9rem;
  max-width: 24rem;
  line-height: normal;
  color: var(--theme-color-opaque);
}

#footer-nav {
  grid-area: nav;
  align-self: center;
  justify-self: end;
  font-size: 1.1rem;
}

#social-media {
  grid-area: social-media;
  align-self: center;
  justify-self: end;
  font-size: 20px;
}

/*
When screen gets small, display the 4 footer sections in columns.
Make sure everything is horizontally centered.
*/
@media screen and (max-width: 696px) {
  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #footer-logo,
  #footer-nav,
  #social-media,
  #footer-note {
    align-self: center;
  }

  #footer-nav .nav {
    flex-wrap: wrap;
    justify-content: center;
  }

  #footer-note {
    text-align: center;
  }
}

/* Button CSS ----------------------------------*/

.btn {
  align-self: center;
  color: var(--blue);
  background-color: transparent;
  border: 1px solid var(--blue);
  padding: 0.5vw 1vw;
}

.btn:hover {
  transform: scale(1.06);
  backface-visibility: hidden;
  color: var(--gray);
  background-color: transparent;
  border: 1px solid var(--gray);
}

/* Page 1: Homepage page specific css-------------------------------------------------*/
#homepage {
  --theme-color: var(--red);
  --theme-color-opaque: var(--red-opaque);
}

/* Special settings for homepage: transparent header*/
#homepage header {
  box-shadow: none;
  background-color: transparent;
}

#homepage main {
  margin-top: 0px;
}

#homepage .main-section {
  height: 100vh;
}

/*Sidebar layout: fixed to the right side of the page. */
#sidebar {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #efe1bacc;
  box-shadow: var(--shadow-medium);
  border-radius: 20px;
  margin-right: 10px;
}

/*Each item represents a sub page.*/
.sidebar-item {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  margin: 15px 10px;
  box-shadow: var(--shadow-soft);
}

.sidebar-item:hover {
  height: 30px;
}

#index-home {
  background-color: var(--theme-color);
}
#index-whitepaper {
  background-color: var(--green);
}
#index-news {
  background-color: var(--blue);
}
#index-faq {
  background-color: var(--yellow);
}
#index-contact {
  background-color: var(--theme-color);
}

/* Page 2: Whitepaper page specific css-----------------------------------------------*/
#whitepaper {
  --theme-color: var(--green);
  --theme-color-opaque: var(--green-opaque);
}

/* Page 3: News page specific css-----------------------------------------------------*/
#news {
  --theme-color: var(--blue);
  --theme-color-opaque: var(--blue-opaque);
}

/* Page 4: FAQ page specific css------------------------------------------------------*/
#faq {
  --theme-color: var(--yellow);
  --theme-color-opaque: var(--yellow-opaque);
}

/* Page 5: Contact page specific css--------------------------------------------------*/
#contact {
  --theme-color: var(--red);
  --theme-color-opaque: var(--red-opaque);
}
